body{
    background: rgb(26, 25, 21);
    font-family: 'Fjalla One', sans-serif;
}

#logo{
    float: left;
    background-color: rgb(247, 202, 22);
    background-image: radial-gradient(circle, #e5d9b6, #d8c690, #cbb26a, #be9e44, #9c7e2a, #875c07);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 800;
    font-size: 3em;
    margin-right: 2vw;
}

#head-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    transform: translateY(1.9vh);
    -webkit-transform: translateY(1.9vh);
    -moz-transform: translateY(1.9vh);
}

.header-content{
    font-family: inherit;
    color: white;
    font-size: 1.2em;
}

.header-content:hover{
    color: gold;
}

#login-container{
    float: right;
    display: flex;
    flex-direction: row;
    transform: translateY(-1vh);
}

#sign-up{
    background: gold;
    border: 0;
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    width: 8vw;
    margin-left: 2vw;
}

#main-text{
    width: 45%;
    background: red;
    font-size: 5vw;
    /* float: left; */
    color: white;
}


/* #header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */