body{
    /* background: rgb(26, 25, 21); */
    font-family: 'Fjalla One', sans-serif;
    background: linear-gradient(to top right, black, rgb(48, 32, 0), rgb(69, 46, 0), rgb(92, 61, 0), rgb(130, 87, 0), rgb(176, 117, 0), rgb(245, 163, 0));
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size:auto;
    min-height: 100%;
}

#logo{
    float: left;
    background-color: rgb(247, 202, 22);
    background-image: radial-gradient(circle, #e5d9b6, #d8c690, #cbb26a, #be9e44, #9c7e2a, #875c07);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 800;
    font-size: 3em;
    margin-right: 2vw;
}

#head-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    transform: translateY(1.9vh);
    -webkit-transform: translateY(1.9vh);
    -moz-transform: translateY(1.9vh);
}

.header-content{
    font-family: inherit;
    color: white;
    font-size: 1.2em;
}

.header-content:hover{
    color: gold;
    cursor: pointer;
}

#login-container{
    float: right;
    display: flex;
    flex-direction: row;
    transform: translateY(-1vh);
}

#sign-up{
    background: gold;
    border: 0;
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    width: 6vw;
    height: 3.5vh;
    margin-left: 2vw;
}

#sign-up:hover{
    background: rgb(26, 25, 21);
    color: gold;
    cursor: pointer;
}

#main-text{
    width: 45%;
    /* background: red; */
    font-size: 5vw;
    /* float: left; */
    color: white;
    /* animation: color-change 4s ease 0 infinite alternate;
    -webkit-animation: color-change 4s ease 0 infinite alternate;
    -moz-animation: color-change 4s ease 0 infinite alternate; */
    animation-name: color-change;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* background: green; */
    width: 100%;
}

#vinyls-container{
    width: 45%;
}

.vinyl-display{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: transitions;
    animation-duration: 2.5s;
    animation-direction:alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.vinyl-image{
    width: 100%;
}

.vinyl-description{
    text-align: center;
    color: white;
}

#prompt-container{
    display: flex;
    flex-direction: row;
}

#prompt{
    color: gold;
}

@keyframes color-change{
    from {color: white;}
    to {color: rgb(255, 189, 46);}
}

@keyframes transitions{
    from {opacity: 0.4;}
    to {opacity: 1;}
}
/* #header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */